<ion-view title="Conteudo">
    <ion-content padding="true" class="">
        <div class="card" style="margin-top:5px">
            <div class="item item-image">
                <img src="../img/conteudo/IMG-20180109-WA0016 123.jpg" class="full-image">
            </div>
        </div>
        <div class="transparent">
            <div>
                <h1 style="font-family: Georgia, Verdana, Arial, Tahoma, sans-serif; color: rgb(103, 54, 24); margin-top: 0px; margin-bottom: 10px; line-height: 1.3em; font-size: 23.256px;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; font-weight: bold;"><span style="font-size: 24px; background-color: rgb(255, 156, 0);">ANJOS !!!</span></font>
                    </font>
                </h1>
                <h3>
                    <div id="HOTWordsTxt" style="margin: 0px; padding: 0px; border: none; zoom: 1; color: rgb(0, 0, 0); font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 12.92px;">
                        <p style="margin-bottom: 0.8em;">
                            <span style="font-weight: bold; background-color: rgb(255, 156, 0);">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Na estrada estou ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Ou&ccedil;o uma m&uacute;sica linda ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Onde anjos entoam ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Uma linda can&ccedil;&atilde;o ...</span></font>
                                </font>
                            </span>
                        </p>
                        <p style="margin-bottom: 0.8em;">
                            <span style="font-weight: bold; background-color: rgb(255, 156, 0);">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Que fala de amor ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">De alegria ... De flores ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">De amores ... De amigos ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">E tamb&eacute;m de voc&ecirc; ...</span></font>
                                </font>
                            </span>
                        </p>
                        <p style="margin-bottom: 0.8em;">
                            <span style="font-weight: bold; background-color: rgb(255, 156, 0);">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">E a Deus eu agrade&ccedil;o ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Por amigos existirem ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Trazerem alegria ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Magia ... E sedu&ccedil;&atilde;o ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">E tamb&eacute;m amores ... </span></font>
                                </font>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;">Mesmo os que j&aacute; foram foram ...</span></font>
                                </font>
                            </span>
                        </p>
                        <p style="margin-bottom: 0.8em;">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit; font-weight: bold; background-color: rgb(255, 156, 0);">
                                    <br>
                                </font>
                            </font>
                        </p>
                        <p style="margin-bottom: 0.8em;">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit; font-weight: bold; background-color: rgb(255, 156, 0);">
                                    <br>
                                </font>
                            </font>
                        </p>
                        <address style="font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 11.628px; line-height: normal; font-family: Verdana; margin-left: 35px;">
                            <span style="font-weight: bold; background-color: rgb(255, 156, 0);">
                                <span class="vcard" style="font-size: 18px;">
                                    <a href="http://uneversos.com/poetas/vaniastaggemeier" title="Detalhes: Vania Staggemeier" class="fn" style="text-decoration-line: underline; color: rgb(0, 0, 0);">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Vania Staggemeier</font>
                                        </font>
                                    </a>
                                </span>
                                <br>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"><span style="font-size: 18px;"> 20/04/2007&nbsp;</span></font>
                                </font>
                            </span>
                        </address>
                    </div>
                    <div id="HOTWordsTxt" style="margin: 0px; padding: 0px; border: none; zoom: 1; color: rgb(0, 0, 0); font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 12.92px;">
                        <address style="font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 11.628px; line-height: normal; font-family: Verdana; margin-left: 35px;">
                            <span style="font-weight: bold; background-color: rgb(255, 156, 0);">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <br>
                                    </font>
                                </font>
                                <span style="font-size: 18px; font-family: Verdana, Arial, Tahoma, sans-serif;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">&copy; Todos os direitos reservados</font>
                                    </font>
                                </span>
                            </span>
                        </address>
                        <ul class="info" style="margin: 15px 0px 20px 35px; padding: 0px; border: none; zoom: 1; list-style-type: none; font-size: 10.336px; color: rgb(184, 32, 57); width: 303px;">
                            <li class="tags" style="margin: 17px 0px 0px; padding: 0px; border-top: 1px solid rgb(234, 234, 234); border-right: none; border-bottom: none; border-left: none; border-image: initial; zoom: 1; list-style-type: none; color: rgb(0, 0, 0);">
                                <dl style="margin-right: 0px; margin-bottom: 17px; margin-left: 0px; padding: 0px 0px 0px 35px; border: none; zoom: 1; font-size: 11.8864px; float: left;"></dl>
                            </li>
                        </ul>
                    </div>
                </h3>
            </div>
        </div>
        <div class="transparent m-top text-center">
            <div id="share5"></div>
        </div>
        <script>
$('#share5').jsSocials({
	shares: [{ share: "email", logo: "ion-email"},{ share: "twitter", logo: "ion-social-twitter"},{ share: "facebook", logo: "ion-social-facebook"},{ share: "googleplus", logo: "ion-social-googleplus"},{ share: "linkedin", logo: "ion-social-linkedin"},{ share: "pinterest", logo: "ion-social-pinterest"}],
	url: window.location.href,
	text: "Poema",
	showLabel: false,
	showCount: true
});
$(".jssocials").css("font-size", "12px");
</script>
    </ion-content>
</ion-view>