<ion-view title="Eu">
    <ion-content padding="true" class="">
        <div class="card" style="margin-top:5px">
            <div class="item item-image">
                <img src="../img/eu/1483826380742 123.jpg" class="full-image">
            </div>
        </div>
        <div class="transparent">
            <h2>
                Eu
            </h2>
            <div>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sou a princesinha do meu pai. </font>
                </font>
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Estou feliz por voce!</font>
                    </font>
                </h4>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> Muito obriga por ter baixado o meu aplicativo.</font>
                </font>
            </div>
        </div>
        <br>
        <ion-list type="card">
            <a href="https://www.facebook.com/amstv/media_set?set=ft.860467343990684&type=1" class="item item-icon-left" target="_blank"> <i class="icon ion-social-facebook"></i> Facebook Fotos </a>
        </ion-list>
        <div class="transparent m-top text-center">
            <div id="share3"></div>
        </div>
        <script>
$('#share3').jsSocials({
	shares: [{ share: "email", logo: "ion-email"},{ share: "twitter", logo: "ion-social-twitter"},{ share: "facebook", logo: "ion-social-facebook"},{ share: "googleplus", logo: "ion-social-googleplus"},{ share: "linkedin", logo: "ion-social-linkedin"},{ share: "pinterest", logo: "ion-social-pinterest"}],
	url: window.location.href,
	text: "Compartilhe meu App",
	showLabel: false,
	showCount: true
});
$(".jssocials").css("font-size", "12px");
</script>
    </ion-content>
</ion-view>