<ion-view title="Home">
    <ion-content padding="true" class="">
        <section class="home-container">
            <div class="card" style="margin-top:5px">
                <div class="item item-image">
                    <img src="../img/home/1498597027014.jpg" class="full-image">
                </div>
            </div>
            <div class="row icon-row light">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/eu" class="light"><i class="icon ion-ios-information icon-m"></i></a>
                    <br />
                    <a href="#!/nav/eu" class="button button-clear button-light">Eu</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/fotos" class="light"><i class="icon ion-image icon-m"></i></a>
                    <br />
                    <a href="#!/nav/fotos" class="button button-clear button-light">Fotos</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/conteudo" class="light"><i class="icon ion-document-text icon-m"></i></a>
                    <br />
                    <a href="#!/nav/conteudo" class="button button-clear button-light">Conteudo</a>
                </div>
            </div>
            <div class="row icon-row light">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/video" class="light"><i class="icon ion-ios-videocam icon-m"></i></a>
                    <br />
                    <a href="#!/nav/video" class="button button-clear button-light">Video</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/formulario" class="light"><i class="icon ion-compose icon-m"></i></a>
                    <br />
                    <a href="#!/nav/formulario" class="button button-clear button-light">Formulario</a>
                </div>
                <div class="col text-center">&nbsp;</div>
            </div>
        </section>
    </ion-content>
</ion-view>